body {
    background-color: darkred;
    color: bisque;
    font-family: sans-serif;
}

.mid{
    margin: auto;
    width: 350px;
    height: 200px;
}

table{
    margin: auto;
    width: 350px;
    height: 200px;
}
select {
    background-color:bisque; 
    border: none;
    padding: 15px 32px;
    text-align: inherit;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
} 

button {
    background-color:brown; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
} 
option {
    background-color:bisque; 
} 

table {
  width: 30%;
    text-align: center;
    background-color: bisque;
    border-collapse: collapse;
    color: brown;
}